body{
    background-color:lightgray;
}
.fa{
    color:rgb(29, 29, 226);
}
.title{
    margin-top: 10px; 
    margin-bottom:20px;
    font-size:medium;
}
a{
    color:rgb(38, 38, 202);
    border-bottom: 2px solid blue;
}
.box-part{
    background-color: white;
    padding: 60px 10px;
    margin: 30px 0px;
}
.box{
    padding: 60px 0px;
}